
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/banner-top.jpg) no-repeat center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}